<div class="card">
  <div class="card-body">
    <form [formGroup]=angForm>
      <div class="form-group">
        <label class="col-md-4">Person Name</label>
        <input type="text" class="form-control" #person_name formControlName="person_name"/>
      </div>
      
      <div class="form-group">
        <label class="col-md-4">Business Name </label>
        <input type="text" class="form-control" #business_name formControlName="business_name"/>
      </div>
      <div class="form-group">
        <label class="col-md-4">Business GST Number </label>
        <input type="text" class="form-control" #business_gst_number formControlName="business_gst_number"/>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" 
        (click)="addBusiness(person_name.value, business_name.value, business_gst_number.value)"
        [disabled]="angForm.pristine || angForm.invalid" >Add Business</button>
      </div>
    </form>
  </div>
</div>